<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pendulum">
    <xacro:include filename="$(find pendulum)/urdf/arm.xacro"/>
    <xacro:include filename="$(find pendulum)/urdf/flywheel.xacro"/>

    <xacro:property name="base_mass_kg" value="0.001"/>
    <xacro:property name="base_x_m" value=".05"/>
    <xacro:property name="base_y_m" value=".05"/>
    <xacro:property name="base_z_m" value=".06"/>

    <xacro:property name="arm_linear_density_kg_m" value=".129"/>
    <xacro:property name="arm_length_m" value=".10"/>
    <xacro:property name="arm_width_m" value=".02"/>

    <xacro:property name="motor_mass_kg" value=".080"/>
    <xacro:property name="wheel_mass_kg" value=".037"/>
    <xacro:property name="solenoid_mass_kg" value="${.10206 * 2}"/>
    <xacro:property name="wheel_radius_m" value=".05"/>
    <xacro:property name="wheel_length_m" value=".02"/>

    <gazebo reference="base_link">
        <mu1>200</mu1>
        <mu2>200</mu2>
    </gazebo>

    <link name="base_link">
        <visual>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${base_mass_kg}"/>
            <inertia ixx="10"
                     ixy="0.00"
                     ixz="0.00"
                     iyy="10"
                     iyz="0.00"
                     izz="10"/> <!-- ${base_mass_kg/12*(base_x_m**2 + base_z_m**2)} -->
        </inertial>
    </link>

    <xacro:arm length="${arm_length_m}"
               width="${arm_width_m}"
               linear_density="${arm_linear_density_kg_m}"/>

    <xacro:flywheel length="${wheel_length_m}"
                    radius="${wheel_radius_m}"
                    mass="${wheel_mass_kg}"
                    motor_mass="${motor_mass_kg}"
                    arm_length="${arm_length_m}"
                    solenoid_mass="${solenoid_mass_kg}"/>

    <!-- Add ROS plugin so we can interact with our robot -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>

