<?xml version="1.0"?>
<launch>

  <!-- delete current model in gazebo -->
  <!-- rosservice call gazebo/delete_model '{model_name: robot}'-->
  <node pkg="rosservice" type="rosservice" name="del_model" args="call --wait gazebo/delete_model '{model_name: robot}'" />

  <!-- our xacro/urdf model -->
  <arg name="model" value="$(find pendulum)/urdf/pendulum.xacro"/>

  <!-- load our urdf model (string) into global parameter called "robot_description"-->
  <!-- xacro parses xacro files and returns a urdf file -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(arg model)" />

  <!-- Spawn our robot using urdf_spawner node -->
  <node name="urdf_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-z 1.0
              -unpause
              -urdf
              -model robot
              -param robot_description"/>

  <!-- load multiple values stored in .yaml file into global parameters -->
  <!-- parameters store motor controller configurations -->
  <rosparam command="load"
            file="$(find pendulum)/config/joints.yaml" />
  
  <!-- Spawn controllers -->
  <node name="bot_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="joint_state_controller
              flywheel_controller
              arm_controller" />
</launch>


